
*{
    padding: 0;
    margin: 0;
    
}
/* All Used */
.container{ 
    max-width: 1600px;
    margin: auto;
} 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  16px 120px;
}
.link{
    display: flex;
    gap:32px;
    list-style: none;
    
    
}
.link a{
    text-decoration: none;
    color: #000;
    
    
    

}
.my-btn{
    background-color:#30b868;
    font-weight:bold;
    font-size: 15px; 
    border-radius: 4px;
    border: none;
    padding: 12px 16px; 
    line-height: 19px;
    width: 164px;
    height: 44px;
    text-align:0px auto;
    color: aliceblue;
    
}

.hero-parent{
    height: 674px;
    width: 1600px;
    display:flex; 
    align-items: center;
    justify-content:center;
    background-image: url(./assets/hero-bg.png);

}
 
.hero-title{ 
    width: 1360px;
    height: 295px;
    text-align: center;
    gap: 10px;
    align-items:center;
    justify-content:center;
    flex-direction: row;
} 
 .button-1{
    width: 229px;
    height: 35px;
    background-color: aliceblue;
    alignment-baseline: 6px;
    font-weight:bold;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    padding: 8px 12px; 
    line-height: 19px;
    width: 200px;
    height: 20px;
    text-align:center;
    color:#30b868;
    align-items: center;
    gap: 8px; */

}
.button-2{
    align-items: center;
}
#skills{
    padding:20px  120px 120px 120px;
}

.section-heading{
    width: 1360px;
    height: 152px ;
    text-align: center;
   
}
.skill-box{
    display: flex;
    gap:24px;


}
.skill-card {
    padding: 30px;
    border: 1px solid red;
    width: 300px;
    height: 200px;
}