
*{
    padding: 0;
    margin: 0;
    
}
/* All Used */
.container{ 
    max-width: 1600px;
    margin: auto;
} 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  16px 120px;
}
.link{
    display: flex;
    gap:32px;
    list-style: none;
    
    
}
.link a{
    text-decoration: none;
    color: #000;
    
    
    

}
.my-btn{
    background-color:#30b868;
    font-weight:bold;
    font-size: 15px; 
    border-radius: 4px;
    border: none;
    padding: 12px 16px; 
    line-height: 19px;
    width: 164px;
    height: 44px;
    text-align:0px auto;
    color: aliceblue;
    
}

.hero-parent{
    height: 674px;
    width: 1600px;
    display:flex; 
    align-items: center;
    justify-content:center;
    background-image: url(./assets/hero-bg.png);

}
 
.hero-title{ 
    width: 1360px;
    height: 295px;
    text-align: center;
    gap: 10px;
    align-items:center;
    justify-content:center;
    flex-direction: row;
} 
 .button-1{
    width: 229px;
    height: 35px;
    background-color: aliceblue;
    alignment-baseline: 6px;
    font-weight:bold;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    padding: 8px 12px; 
    line-height: 19px;
    width: 200px;
    height: 20px;
    text-align:center;
    color:#30b868;
    align-items: center;
    gap: 8px; */

}
.button-2{
    align-items: center;
}
#skills{
    padding:20px  120px 120px 120px;
}

.section-heading{
    width: 1360px;
    height: 152px ;
    text-align: center;
    padding-top: 50px;
   
}
.section-heading h2{
    color: #000;
    font-style:Bold;
    font-size: 48px;
    text-align: center;
    
    
}
.skill-box{
    display: flex;
    gap:24px;

    
}
.skill-card {
    padding: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    box-shadow: 2px 2px 10px #a7a5a5;
    
    
    
}
.skill-box p{
    font-size: 15px;
    color:var(#627382);
}

.skill-card img{ 
    width: 30px;
    height: 30px;
    background-color:red;
    border-radius: 50px;
    padding: 15px;
 
}
.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 20px;
}
.skill-card h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.structured{
    padding: 120px;
    width: 1360px;
    height: 600px;
}
.structured-card{
    display: flex;
    gap: 60px;
    align-items: center;
    border-top: 102px;

}
.structured-card a{
    color:#30b868;

}
.abote h3{
     width: 700px;
    height: 116px;
    gap:10px;
}
.structured-card p{
    width: 700px;
    height: 60px;
}


