*{
    padding: 0;
    margin: 0;
    
}

nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  
   /* background-color: aqua; */
}
.logo img{
    width: 139px;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
    


}
nav .menu{
    display: flex;
    gap: 150px;
    list-style-type: none;
    

}
.btn{
    background-color: seagreen;
    border: none;
    border-radius: .5em;
    padding: 12px 16px;
    width: 164px;
    height: 44px; 
    color: white;
    margin-right: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-style:semi bold;
    text-align:center;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
   
    


}  