*{
    padding: 0;
    margin: 0;
    
}
/* All Used */
.container{ 
    max-width: 1600px;
    margin: auto;
} 

 /* header{
    background-color: white;

 } */
nav {
    display: flex;
    /* background-color: aqua;  */
    justify-content: space-around;
    align-items: center;
    padding:  16px 120px;
}
.link{
    display: flex;
    gap:32px;
    list-style: none;
    
    
}
.link a{
    text-decoration: none;
    color: #000;
    
    
    

}
.my-btn{
    background-color:#30b868;
    font-weight:bold;
    font-size: 15px; 
    border-radius: 4px;
    border: none;
    padding: 12px 16px; 
    line-height: 19px;
    width: 164px;
    height: 44px;
    text-align:0px auto;
    color: aliceblue;
    
}

.hero-parent{
    height: 674px;
    width: 1600px;
    display:flex; 
    align-items: center;
    justify-content:center;
    background-image: url(./assets/hero-bg.png);

}
 
.hero-title{ 
    width: 1360px;
    height: 295px;
    text-align: center;
    gap: 10px;
    align-items:center;
    justify-content:center;
} 
.hero-title.h1{
    color: aliceblue;
}

    



